.account-picture {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.position {
  position: absolute;
  bottom: -10vh;
  left: 5vw;
}

.cover-image {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 40vh;
}

.text-stroke {
  height: 8vh;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
