.img-bg {
  border-radius: 3px;
  background-position: center;
  background-size: cover;
}

.text-bg {
  border-radius: 3px;
  border: 1px solid #ccf3fd33;
  background: #246d8e99;
  backdrop-filter: blur(15px);
}

.info-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
