@import './_variables.scss';
@import 'bootstrap';
@import './_overrides.scss';
@import './_utilities.scss';
@import './loaders.scss';

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

header {
  z-index: 1;
}

main {
  flex-grow: 1;
  margin-top: 71px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type='submit'] {
  filter: grayscale(1);
  pointer-events: none;
}

.vh-75 {
  height: 75vh;
  object-fit: cover;
  object-position: center;
}

.vh-25 {
  height: 25vh;
  object-fit: cover;
  object-position: center;
}
